<!DOCTYPE html>
<html>
<head>
  <title>Shoos Shoe Store</title>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/styling.css">
</head>
<body>
  <header>
    <nav>
      <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/preorder">Pre-Order</a></li>
      <li><a href="/preorderslist">View All Pre-Orders</a></li>
      </ul>
    </nav>
  </header>
  <h1>Shoos Shoe Store</h1>
  <%= yield %>
</body>
</html>